<div class="card horizontal">
  <div class="card-image">
    <img src="http://via.placeholder.com/64?text=%23">
  </div>
  <div class="card-stacked">
    <div class="card-content">
      <span class="card-title"><b>{{ receptionist.name }}</b></span>
      <p>{{ receptionist.sub }}<br>{{ receptionist.text }}</p>
    </div>
  </div>
</div>

<div class="collection with-header">
  <div class="collection-header"><h5>Doctors</h5></div>
  <a *ngFor="let doctor of receptionist.child1" [routerLink]="['/doctor', doctor.id]" class="collection-item avatar">
    <img src="http://via.placeholder.com/42?text=Dr." alt="" class="circle">
    <span class="title">{{ doctor.name }}</span>
    <p>{{ doctor.sub }}, {{ doctor.text }}</p>
  </a>
</div>

<div class="collection with-header">
  <div class="collection-header"><h5>Clinics</h5></div>
  <a *ngFor="let clinic of receptionist.child2" [routerLink]="['/clinic', clinic.id]" class="collection-item">{{ clinic.name }}</a>
</div>